@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/favicon.ico">

    <title>Sentinela Eventos</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <!-- Bootstrap theme -->

    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />

   

</head>

<body role="document">

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                
                <a class="navbar-brand" href="~/">Sentinela Eventos</a>
            </div>
            <div class="navbar-collapse collapse" style="height: 1px;">
                
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <div class="container theme-showcase" role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h1>Monte seu orçamento!</h1>
            <p>Volumus accusam fabellas at sit. Quot facer virtute cum ut. Ea duo wisi pertinax iudicabit. Sea cibo fierent adipisci no, vix no nihil possim imperdiet.</p>
            <p><a href="#local-evento" class="btn btn-primary btn-lg" role="button">Começe agora »</a></p>
        </div>



        <div class="page-header">
            <h1 id="local-evento">Local</h1>
        </div>
        
        <div class="page-header">
            <h1 id="data-evento">Data</h1>
        </div>

        <div class="page-header">
            <h1>Cardápio</h1>
        </div>
        
        <div class="page-header">
            <h1>Adicionais</h1>
        </div>

        <div class="page-header">
            <h1>Dados Gerais do Evento  </h1>
        </div>
        <p>Tipo de evento</p>
        <p>Convidados Adultos</p>
        <p>Convidados Criancas</p>
        <p>Duração</p>

        


        <div class="page-header">
            <h1>Dados para contato</h1>
        </div>
        
        <footer>
            <p>© Company 2014</p>
        </footer>

    </div> <!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootbox.js"></script>

</body>
</html>